<section class="admin_mannagement_admin">
    <div class="admin_mannagement_admin_container">
        <div class="admin_mannagement_container">
            <div class="admin_mannagement_admin_top">
                <div class="admin_management_admin_top_decription">
                    <span>Danh sách các CTV</span>
                </div>
                <div class="admin_mannagement_admin_top_btn">
                    <button
                        type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                    >
                        Thêm người dùng
                    </button>

                    <form method="post" action="/admin/role">
                        <div
                            class="modal fade"
                            id="exampleModal"
                            tabindex="-1"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true"
                        >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5
                                            class="modal-title"
                                            id="exampleModalLabel"
                                        >Thêm CTV</h5>
                                        <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                        ></button>
                                    </div>
                                    <div class="modal-body">
                                        <label>Tên người dùng</label>
                                        <input
                                            class="form-control"
                                            name="username"
                                            placeholder="Nhập tên người dùng"
                                        />
                                        <label>Email</label>
                                        <input
                                            class="form-control"
                                            name="email"
                                            placeholder="Nhập email"
                                        />
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                            type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal"
                                        >Hủy bỏ</button>
                                        <button
                                            type="button"
                                            onclick="updateRole()"
                                            data-bs-dismiss="modal"
                                            class="btn btn-primary"
                                        >Lưu thay đổi</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="admin_mannagement_admin_center">
                <table id="table">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                    </tr>
                    {{#each data}}
                    <tr id={{this.id}}>
                        <td>{{this.id}}</td>
                        <td>{{this.username}}</td>
                        <td>{{this.email}}</td>
                        <td>
                            <button type="button" class="Edit">Sửa</button>
                        </td>
                        <td>
                            <button type="button" class="Delete" data-bs-toggle="modal" data-bs-target="#deleteModal" value={{this.id}}
                                onclick="dalete(this)">Xóa</button>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            <div
                class="modal fade"
                id="deleteModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xác
                                nhận xóa</h5>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            Bạn có chắc chắn xóa người dùng này?
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >Hủy bỏ</button>
                            <button
                                type="submit"
                                data-bs-dismiss="modal"
                                class="btn btn-danger"
                                id="delete-post"
                            >Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<script>
    function dalete(btn) {
        let deletepost = document.getElementById("delete-post");

        deletepost.onclick = () => {
            let url = "/admin/admin-management/" + btn.value;
            try{
                $.post(url, function(data, status) {
                    if(status == 'success') {
                        document.getElementById(btn.value).remove();    
                    }
                });
            } catch (e) {
                console.log(e)
            }
        }
    }
    function updateRole () {
        const username = document.querySelector("input[name='username']").value;
        const email = document.querySelector("input[name='email']").value;
        const url = "/admin/role";
        $.post(url, {username: username, email: email}, function(data) {
            if(data === '') {
                alert("Không tìm thấy người dùng phù hợp!")
            } else {
                let tr = document.createElement("tr");
                tr.id = data.id;
                tr.innerHTML = `<td>${data.id}</td>
                                <td>${data.username}</td>
                                <td>${data.email}</td>
                                <td>
                                    <button type="button" class="Edit">Sửa</button>
                                </td>
                                <td>
                                    <button type="button" class="Delete" data-bs-toggle="modal" data-bs-target="#deleteModal" value=${data.id}
                                        onclick="dalete(this)">Xóa</button>
                                </td>`;
                let table = document.getElementById("table");
                table.appendChild(tr);
            }
        })
    }
</script>