<section class="famous_actor_list_admin">
  <div class="famous_actor_list_admin_container">
    <div class="famous_actor_list_container">
      <div class="famous_actor_list_admin_top">
        <div class="user_management_admin_top_decription">
          <span>Danh sách các diễn viên</span>
        </div>
        <div class="famous_actor_list_admin_top_btn">
          <a
            href="/admin/famous-actor"
            class="btn btn-primary"
            role="button"
            aria-pressed="true"
          >Thêm diễn viên</a>
        </div>
      </div>
      <div class="famous_actor_list_admin_center">
        <table>
          <tr>
            <th>ID</th>
            <th>Tên diễn viên</th>
            <th>Hình ảnh</th>
            <th>Mô tả</th>
            <th>Thao tác</th>
          </tr>
          {{#each actorList}}
            <form method="post">
              <tr id={{this.id}}>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.img}}</td>
                <td>
                  {{this.description}}
                </td>
                <td>
                  <button
                    type="submit"
                    class="Delete"
                    name="id"
                    value={{this.id}}
                  >Xóa</button>
                </td>
              </tr>
            </form>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</section>