<section class="film">
  <div class="fiml-content">
    <div class="main-film">

      {{#each mainFilms}}
      <div id="infor-{{this.id}}">
        <div class="logo">
          <img src="/images/netflix.png" alt="logo" />
          <p class="head">FILM</p>
        </div>
        <div class="info_film">
          <p id="film-title" class="info-film-title">{{this.name}}</p>
          <pre class="info-film-information">IMDb Rating 2021 Thể loại: {{this.genre}}</pre>

          <div class="rate-info">
            <img class="rate-icon" src="/images/staricon.png" alt="star" />
            <p>{{this.rating}}/10</p>
          </div>
        </div>
        <div class="review-content">
          <div class="content-left">
            <div class="content">
              {{{this.description}}}
            </div>
            <div class="button-watch">
              <button class="button-watch-trailer">Xem Trailer</button>
              <button class="button-watch-review">Xem Review</button>
            </div>
          </div>
          <div class="content-right">
            <img id="img-poster" src="{{this.poster}}" alt="poster" />
          </div>
        </div>
      </div>
      {{/each}}

    </div>
    <div class="others-film">
      <ul>
        {{! <li id="container-film1"><img id="film1" src="/images/firm_spiderman.jpg" alt="" /></li>
        <li id="container-film2"><img id="film2" src="/images/firm_like_a_boss.jpg" alt="" /></li>
        <li id="container-film3"><img id="film3" src="/images/firm_inside_out.jpg" alt="" /></li>
        <li id="container-film3"><img id="film4" src="/images/squid_game-1000.png" alt="" /></li> }}
        {{#each mainFilms}}
        <li id="container-{{this.id}}">
          <img id={{this.id}} src={{this.poster}} alt="" onclick="clickElementMainFilms(this)" />
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>

<section class="Anotherfilmwapper">
  <div class="another-flim-container">
    <div class="container-item">
      <div class="top-content">
        <div class="text-container-top">
          <h1>XEM THÊM</h1>
          <h1>REVIEW PHIM KHÁC</h1>
        </div>
        <div class="icon-top">
          <i class="fas fa-film board"></i>
        </div>
      </div>
      <div class="middle-container">
        <div class="middle-content">
          {{#each otherFilms}}
          <div class="content-item">
            <img src={{this.poster}} alt={{this.name}}({{this.releaseYear}}) class="item-img" />
            <div class="text-content">
              <p>{{this.name}}</p>
              <p>{{this.releaseYear}}</p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="bottom-content">
        <i class="fas fa-video flim"></i>
      </div>
    </div>
  </div>
</section>

<section class="actor">
  <div class="container">
    <div class="row">
      <div class="actor-content">
        <div class="actor-content-left">
          <div class="actor-content-left-small-image">
            <img src="/images/agelina_ava.jpg" alt="Angelina Jolie" />
            <img src="/images/hooyeon_ava.jpg" alt="Hooyeon Jung" />
            <img src="/images/tom_ava.jpg" alt="Tom Holland" />
            <img src="/images/kaity_ava.jpeg" alt="Kaity Nguyễn" />
          </div>
          <div class="actor-content-left-big-image">
            <img src="/images/agelina_ava.jpg" alt="Angelina Jolie" />
          </div>
        </div>
        <div class="actor-content-right">
          <div class="actor-content-right-name-angelina">
            <h1>ANGELINA JOLIE</h1>
            <p>Diễn viên</p>
          </div>
          <div class="actor-content-right-detail-angelina">
            <p>
              Angelina Jolie DCMG là một nữ diễn viên, nhà làm phim và nhà nhân
              đạo người Mỹ.
            </p>
            <p>
              Là người nhận được nhiều giải thưởng, cô đã nhiều lần được vinh
              danh là nữ diễn viên được trả lương cao nhất Hollywood.
            </p>
            <p>
              Angelina Jolie từng tham gia nhiều bộ phim đình đám, nổi tiếng
              như: Maleficent, Tomb Raider, Eternals,...
            </p>
          </div>
          <div class="actor-content-right-name-hoyeon">
            <h1>HOYEON JUNG (정호연)</h1>
            <p>Người mẫu - Diễn viên</p>
          </div>
          <div class="actor-content-right-detail-hoyeon">
            <p>
              Jung Ho Yeon là một người mẫu kiêm diễn viên thời trang Hàn Quốc.
            </p>
            <p>
              Vogue đã gọi cô ấy là “Người mẫu hàng đầu Hàn Quốc” và cô ấy đã
              xuất hiện trong mùa thứ 4 của chương trình cùng tên.
            </p>
            <p>
              Cô đã được xếp hạng là một trong những người mẫu thời trang "Top
              50" bởi trang models.com. Cô đã được biết rộng rãi khi tham gia
              đóng phim Squid Game, một bộ phim đang gây sốt khán giả trong và
              ngoài nước
            </p>
          </div>
          <div class="actor-content-right-name-tom">
            <h1>TOM HOLLAND</h1>
            <p>Diễn viên</p>
          </div>
          <div class="actor-content-right-detail-tom">
            <p>
              Thomas Stanley Holland là một diễn viên người Anh.
            </p>
            <p>
              Tốt nghiệp trường Nghệ thuật và Công nghệ BRIT ở London, anh bắt
              đầu sự nghiệp diễn xuất của mình trên sân khấu London với vai
              chính là Billy Elliot the Musical ở nhà hát West End từ năm 2008
              đến năm 2010.
            </p>
            <p>
              Anh được biết nhiều người gắn liền với nhân vật tạo nên sự vang
              dội của anh - Spider man (Người nhện)
            </p>
          </div>
          <div class="actor-content-right-name-kaity">
            <h1>Kaity Nguyễn</h1>
            <p>Diễn viên</p>
          </div>
          <div class="actor-content-right-detail-kaity">
            <p>
              Kaity Nguyễn là một nữ diễn viên người Mỹ gốc Việt hiện đang hoạt
              động tại Việt Nam.
            </p>
            <p>
              Vào đầu năm 2018, Kaity Nguyễn lần đầu xuất hiện với vai chính
              (Linh Đan) trong bộ phim điện ảnh Em chưa 18 do đạo diễn Charlie
              Nguyễn và Hãng phim Chánh Phương sản xuất.
            </p>
            <p>
              Cô tham gia nhiều phim như: Em chưa 18, Tiệc trăng máu,...
            </p>
          </div>
          <div class="actor-content-right-button">
            <button class="history-button">
              Xem thêm tiểu sử
            </button>
            <button class="review-movie-button">
              Xem Review Phim
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="rules">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="/images/introduce2 1.png" />
      </div>
      <div class="col-md-6 text-justify">
        <p>
          Trang web cung cấp cho các bạn những Review về các phom, được cập nhật
          nhanh chóng, chi tiết cho những người muốn xem
          <span>(Spoil Alert!)</span>
        </p>
      </div>
      <div class="col-md-6 text-justify">
        <p>
          Được Review bởi những chuyên gia Review Phim của cả nước, được đánh
          giá cao bởi nhiều người dùng
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="/images/introduce 1.png" />
      </div>
      <div class="col-md-6 text-center">
        <img src="/images/introduce3 1.png" />
      </div>
      <div class="col-md-6 text-justify">
        <p>
          Nơi mà các khán giả có thể trao đổi trực tiếp với những người Review
          hoặc trao đổi với nhau về chi tiết, tình tiết bộ phim mình đang
          xem,...
        </p>
      </div>
    </div>
  </div>
</div>

<div class="comments">
  <div class="container">
    <h1>
      BÌNH LUẬN<br />
      CỦA KHÁN GIẢ
    </h1>

    <div class="row">
      <div class="col-md-6">
        <p class="review">
          Review phim ở đây thật tuyệt vời, hiểu được hơn về bộ phim
          <i class="fas fa-heart"></i>
          <br /><i class="fab fa-facebook">
            <span>@dangngohonghai</span></i>
        </p>
        <img src="/images/ava.png" />
      </div>
      <div class="col-md-6">
        <p class="review">
          Thích Review dạng này quá iiiiiiiiiiiiiii
          <i class="fas fa-heart"></i>
          <br /><i class="fab fa-facebook">
            <span>@mia.soya.9</span></i>
        </p>
        <img src="/images/nltt_ava3.jpg" />
      </div>
      <div class="col-md-6">
        <p class="review">
          Nhiều phim hay quá coi không hết luôn í :(((
          <br /><i class="fab fa-facebook">
            <span>@khanhvyofficial</span></i>
        </p>
        <img src="/images/khanhvy_ava.jpg" />
      </div>
      <div class="col-md-6">
        <p class="review">
          Hy vọng có nhiều hơn những dạng Review như này ^^
          <br /><i class="fab fa-facebook">
            <span>@trucanh.actress</span></i>
        </p>
        <img src="/images/trucanh_ava.jpg" />
      </div>
    </div>
  </div>
</div>

<div class="collaborators">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="/images/ctb 1.png" />
      </div>
      <div class="col-md-6 text-justify">
        <p>
          Muốn trở thành CTV của chúng tôi?
          <br />Hãy đăng kí ngay
        </p>

        <form class="collaborators-form row" action="/" method="post">
          <input type="text" placeholder="Họ và tên" name="fullname" />
          <input type="email" placeholder="Email" name="email" />
          <input type="tel" placeholder="Số điện thoại" name="phone" />
          <input type="text" placeholder="Sở trường" name="forte" />
          <button type="submit">Đăng ký</button>
        </form>

      </div>
    </div>
  </div>
</div>