<section class="review-detail">
    <div class="container">
        <div class="row">
            <div class="review-detail-top">
                <div class="title">
                    {{data.movieName}}
                    <span class="animate-border mt-2 mb-6"></span>
                </div>
                <div class="three-dots">
                    <div class="three-dots-button">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div class="sub-menu-show active-three-dots">
                        <ul class="sub-menu">
                            <li><a href="">Chỉnh sửa bài viết</a></li>
                            <li><a href="">Xóa bài viết</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="review-detail-info">
                <div class="review-detail-author">
                    <div class="review-detail-author-left">
                        <img src="/images/ava.png" alt="" />
                    </div>
                    <div class="review-detail-author-right row">
                        <span class="name">anthony.haidang</span>
                        <span class="role">Quản trị viên - Reviewer</span>
                    </div>
                </div>
                <div class="review-detail-audience">
                    {{#if data.rate}}
                    Đánh giá từ khán giả: {{data.rate}}/5
                    {{else}}
                    Đánh giá từ khán giả: Chưa được đánh giá.
                    {{/if}}
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="review-detail-content-top row">
                <div class="col-md-6 text-center">
                    <img src={{data.poster}} alt="" />
                </div>
                <div class="col-md-6 text-justify">
                    <div class="review-detail-content-top-info">
                        <span>Thể loại: </span>
                        <p>{{data.stringGenre}}</p>
                        {{!-- <span>Đạo diễn: </span>
                        <p>Dong-Hyuk Wang</p>
                        <span>Diễn viên: </span>
                        <p>
                            Lee Jung Jae, Park Hae Soo, Wi Ha-Joon,...
                        </p> --}}
                        <span>Quốc Gia: </span>
                        <p>{{data.nation}}</p>
                        <span>Thời lượng: </span>
                        <p>{{data.length}}</p>
                        <span>Khởi chiếu: </span>
                        <p>{{data.releaseYear}}</p>
                    </div>
                </div>

                <div class="review-detail-content row">
                    <p>{{{data.content}}}</p>
                    {{!-- <span class="evaluate">Đánh giá tổng quan</span>
                    <img src="/images/danhgia.png" alt="" /> --}}
                    {{!-- <span class="source">Nguồn: Ghiền Review</span> --}}
                    {{#if user}}
                    <div class="review-detail-content-evaluate">
                        <span class="evaluate-question">Bạn có thích bài Review
                            này không?
                        </span>
                        <form method="post" id="rate">
                            <div class="review-detail-content-rating">
                                <input type="radio" name="star" id="star1" onclick="rate()"/><label
                                    for="star1"
                                ></label>
                                <input type="radio" name="star" id="star2" onclick="rate()"/><label
                                    for="star2"
                                ></label>
                                <input type="radio" name="star" id="star3" onclick="rate()"/><label
                                    for="star3"
                                ></label>
                                <input type="radio" name="star" id="star4" onclick="rate()"/><label
                                    for="star4"
                                ></label>
                                <input type="radio" name="star" id="star5" onclick="rate()"/><label
                                    for="star5"
                                ></label>
                            </div>
                        </form>
                    </div>
                    {{/if}}
                </div>
                <div class="review-detail-comment row">
                    <span class="title">Bình luận</span>
                    <div class="review-detail-comment-user">
                        {{#each comment}}
                        <div class="review-detail-comment-user-first">
                            <div class="review-detail-comment-user-left">
                                <img src={{this.user.avatar}} alt="" />
                            </div>
                            <div class="review-detail-comment-user-right">
                                <p
                                    class="review-detail-comment-user-right-text"
                                >
                                    {{this.content}}<br />
                                    <span>@{{this.user.username}}</span>
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{#if user}}
                        <div class="review-detail-comment-user-input">
                            <div class="review-detail-comment-user-left">
                                <img src={{user.avatar}} alt="" />
                            </div>
                            <div
                                class="review-detail-comment-user-right-text-input"
                            >
                                <input
                                    type="text"
                                    placeholder="Viết bình luận"
                                    id="comment"
                                    name="comment"
                                />
                                <div class="review-detail-comment-user-button">
                                    <button onclick="sendMessage()"><i class="fas fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    console.log("test");
    const socket = io();
    socket.emit('join-room', {{ data.reviewId }})
    socket.on('receive-message', (comment) => {
        console.log(comment);
        setComment(comment);
    });
    {{#if user}}
    function sendMessage() {
        let user = {{user.id}};
        let reviewId = {{data.reviewId}};
        const comment = document.getElementById("comment").value;
        if(comment != "") {
            socket.emit('send-message', comment, user, reviewId); 
            const show = {
                content: comment,
                user: {
                    avatar: "{{user.avatar}}",
                    username: "{{user.username}}",
                }
            }
            setComment(show);
            document.getElementById("comment").value = '';
        }
    }

    function rate() {
        const rate = document.querySelector('input[name="star"]:checked').id;
        let result = parseInt(rate.slice(4, 5));
        let res = 3;
        switch (result) {
            case 1:
                res = 5;
                break;
            case 2:
                res = 4;
                break;
            case 4:
                res = 2;
                break;
            case 5:
                res = 1;
                break;
        }
        let url = "/film-review/" + {{ data.reviewId }} + "?rate=" + res
        $.post(url);
    }

        {{#if rate}}
            const rateShow = {{rate}};
            let res = 3;
            switch (rateShow) {
                case 1:
                    res = 5;
                    break;
                case 2:
                    res = 4;
                    break;
                case 4:
                    res = 2;
                    break;
                case 5:
                    res = 1;
                    break;
            }
            let star = document.getElementById("star" + res);
            star.checked = true;
            console.log(star, "hi")
        {{/if}}
    {{/if}}

    function setComment(comment) {
        let item = document.createElement("div");
        item.classList.add("review-detail-comment-user-first")
        item.innerHTML = `<div class="review-detail-comment-user-left">
                                <img src="${comment.user.avatar}"" alt="" />
                            </div>
                            <div class="review-detail-comment-user-right">
                                <p
                                    class="review-detail-comment-user-right-text"
                                >
                                    ${comment.content}<br />
                                    <span>@${comment.user.username}</span>
                                </p>
                            </div>`;
        let base = document.querySelector(".review-detail-comment-user");
        base.appendChild(item);
    }
</script>
