{{!-- <section class="review-detail">
    <div class="container">
        <div class="row">
            <div class="review-detail-top">
                <div class="title">
                    Squid Game: Trò chơi con mực - Không hay như kì vọng
                    <span class="animate-border mt-2 mb-6"></span>
                </div>
                <div class="three-dots">
                    <div class="three-dots-button">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div class="sub-menu-show active-three-dots">
                        <ul class="sub-menu">
                            <li><a href="">Chỉnh sửa bài viết</a></li>
                            <li><a href="">Xóa bài viết</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="review-detail-info">
                <div class="review-detail-author">
                    <div class="review-detail-author-left">
                        <img src="images/ava.png" alt="" />
                    </div>
                    <div class="review-detail-author-right row">
                        <span class="name">anthony.haidang</span>
                        <span class="role">Quản trị viên - Reviewer</span>
                    </div>
                </div>
                <div class="review-detail-audience">
                    Đánh giá từ khán giả: 4.5/5
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="review-detail-content-top row">
                <div class="col-md-6 text-center">
                    <img src="images/squidgame_theloai 1.png" alt="" />
                </div>
                <div class="col-md-6 text-justify">
                    <div class="review-detail-content-top-info">
                        <span>Thể loại: </span>
                        <p>Hành động - Giật gân - Kinh dị - Bạo lực</p>
                        <span>Đạo diễn: </span>
                        <p>Dong-Hyuk Wang</p>
                        <span>Diễn viên: </span>
                        <p>
                            Lee Jung Jae, Park Hae Soo, Wi Ha-Joon,...
                        </p>
                        <span>Quốc Gia: </span>
                        <p>Hàn Quốc</p>
                        <span>Thời lượng: </span>
                        <p>9 tập, 55 phút/tập</p>
                        <span>Khởi chiếu: </span>
                        <p>17/09/2021</p>
                    </div>
                </div>

                <div class="review-detail-content row">
                    <p>
                        Trò chơi con mực (Tựa tiếng Anh: Squid game) là bộ phim
                        mà Ghiền review cực kỳ mong chờ lên sóng Netflix vì thể
                        loại sinh tồn mà phim khai thác vốn là gu của mình bao
                        lâu nay. Chắc hẳn ai là fan của dòng phim này đã từng
                        xem rất nhiều phim tương tự của Mỹ, Nhật Bản và đều đặt
                        một sự kỳ vọng rất lớn khi thưởng thức trailer của bộ
                        phim 9 tập đến từ xứ sở Kim Chi này. Hãy cùng Ghiền
                        review phim Trò chơi con mức để xem thử phim có đáp ứng
                        được sự mong chờ của khán giả không các bạn nhé. Nào,
                        chúng ta cùng bắt đầu thôi!
                    </p>
                    <p>
                        Cốt truyện: Ki-hoon là một gã đàn ông thất bại khi nợ
                        nần chồng chất, công việc không ổn định, ly dị vợ và
                        không được quyền nuôi con. Trong một lần bị những chủ nợ
                        rượt đuổi, anh nhận được tấm danh thiếp bí ẩn từ một gã
                        lạ mặt dụ dỗ anh tham gia trò chơi sinh tử để thay đổi
                        cuộc đời. Sau nhiều lần lưỡng lự thì trước áp lực cơm áo
                        gạo tiền, Ki-hoon cuối cùng cũng đã nhấc điện thoại lên
                        đồng ý tham gia trò chơi. Tuy nhiên những gì mà anh và
                        455 người khác sắp sửa trải qua sẽ vượt xa những gì mà
                        họ có thể tượng tưởng. Xem phim để khám phá sự thú vị
                        của các màn chơi và số phận của các nhân vật các bạn
                        nha.
                    </p>
                    <img src="images/squid-game_player.png" alt="" />
                    <span class="image-info">Các người chơi và quản trò</span>
                    <p>
                        Có lẽ Ghiền review đặt kỳ vọng quá cao về Trò chơi con
                        mực nên trải nghiệm với phim thực sự chưa thỏa mãn sự
                        mong đợi của mình các bạn ạ. 9 tập phim thật sự khá
                        cuốn, dễ xem với nhiều tình tiết thú vị và đậm chất game
                        sinh tồn. Tuy nhiên độ hack não của các trò chơi tương
                        đối yếu, xây dựng tính cách nhân vật chưa ổn định và đặc
                        sắc, đồng thời các tình tiết của phim có phần dễ đoán
                        đối với người đã xem nhiều phim cùng thể loại, do đó
                        những plot twist đắt giá nhất của phim không phát huy
                        được tác dụng. Dưới đây là một số phân tích về các điểm
                        cộng và điểm trừ của Squid game (2021) theo cảm nhận của
                        Ghiền review.
                    </p>
                    <span class="part">Điểm cộng</span>
                    <p>
                        Điểm sáng nhất của Trò chơi con mực mà chắc hẳn ai cũng
                        đồng tình chính là phần nhìn siêu đẹp và ấn tượng. Sự
                        pha trộn đa dạng các gam màu trong phim đã mang đến một
                        hiệu ứng thị giác có khả năng làm say đắm người xem và
                        khiến chúng ta khó có thể rời mắt khỏi màn hình. Không
                        chỉ vậy, kết cấu kiến trúc, bối cảnh và việc bố trí ánh
                        sáng cũng cho thấy sự tinh tế, sáng tạo và con mắt nghệ
                        thuật tuyệt vời của các nhà làm phim. Bên cạnh đó, những
                        cảnh giết chóc, đâm chém cũng mang đến sự chân thật cần
                        có để khán giả cảm nhận rõ hơn về sự nguy hiểm và căng
                        thẳng của những màn chơi sinh tử.
                    </p>
                    <p>
                        Mặc dù các màn chơi chưa đủ độ khó và hack não nhưng
                        cũng phải thừa nhận Trò chơi con mực đã tạo ra được sự
                        háo hức và tò mò cho khán giả khi đón chờ 6 trò chơi của
                        phim. Đặc biệt với khán giả Hàn Quốc thì những trò chơi
                        này sẽ còn thú vị hơn vì chúng đều được dựa vào những
                        trò chơi đơn giản mà những đứa trẻ xứ sở Kim Chi thường
                        chơi lúc nhỏ. Ý tưởng nâng cấp các trò chơi con nít
                        thành những trò chơi máu me dành cho người lớn với phần
                        thưởng siêu giá trị quả thật rất điên rồ và phát huy
                        được hiệu quả ở một vài khía cạnh nào đó.
                    </p>
                    <img src="images/squid_game_quantro.jpg" alt="" />
                    <span class="image-info">Các quản trò - Những người bị chịu
                        sự điều khiển của ông trùm</span>
                    <p>
                        Diễn xuất cũng là một điểm cộng đáng khen của Trò chơi
                        con mực. Mặc dù cách xây dựng và phát triển tính cách
                        nhân vật và cốt truyện thực sự chưa tốt nhưng với sự
                        tham gia của nhiều diễn viên thực lực như Jung-jae Lee,
                        Hae-soo Park hay Wi Ha-Joon (phản diện của phim Midnight
                        (2021) mà Ghiền review mới review cách đây không lâu),
                        Squid game (2021) đã mang đến rất nhiều nhân vật ấn
                        tượng trong lòng khán giả. Ngoài ra, phim còn có sự xuất
                        hiện của một vài diễn viên siêu nổi tiếng mà đến phân
                        cảnh của họ, chắc hẳn nhiều fan girl sẽ hò hét điên
                        cuồng luôn nè. Bên cạnh đó, ai từng xem phim Mouse
                        (2021) chắc hẳn cũng nhận ra vài gương mặt quen thuộc từ
                        bộ phim trinh thám kinh dị nổi tiếng này.
                    </p>
                    <p>
                        Thông điệp mà Trò chơi con mực gửi gắm trong 9 tập phim
                        là quá nhiều và cực kỳ đa dạng. Tất cả các khía cạnh về
                        kinh tế, chính trị, tôn giáo, phân biêt giai cấp, sắc
                        tộc, giới tính, tuổi tác, vấn nạn bạo hành, bắt nạt,
                        buôn bán nội tạng, nhập cư trái phép cho đến những thứ
                        liên quan tới giá trị tinh thần như tình anh em, tình
                        bạn hay tinh cảm gia đình đều được phim góp nhặt vào
                        từng tình tiết ở mỗi tập phim. Tuy nhiên quan trọng hơn
                        hết, đúng với tinh thần mà cuộc đàm đạo ở tập cuối cùng,
                        thứ mà Squid game (2021) muốn hướng đến nhất chính là
                        khiến người xem suy nghĩ về mối quan hệ giữa tiền bạc và
                        hạnh phúc trong mỗi chúng ta.
                    </p>
                    <img src="images/squid_game_3player.jpeg" alt="" />
                    <span class="image-info">3 người chơi cuối cùng - cũng là
                        đại diện cho 3 tính cách nhân vật</span>
                    <span class="part">Điểm trừ</span>
                    <p>
                        Điểm gây khó chịu nhất của Trò chơi con mực chính là
                        cách xây dựng và phát triển tình tiết trong cốt truyện
                        rất vô lý và hư cấu. Tổ chức đứng sau trò chơi sinh tử
                        này vận hành một cách lỏng lẻo và chỉ được cái mã hình
                        thức nguy hiểm ở bên ngoài. Sự khiên cưỡng trong cách
                        sắp đặt tình huống để tạo cao trào và drama lại vô hình
                        trung khiến phim đi vào sự phi logic và mang đến nhiều
                        lấn cấn cho khán giả khi theo dõi.
                    </p>
                    <p>
                        Nhân vật chính của Trò chơi con mực là người khiến khán
                        giả có nhiều phân vân nhất. Tính cách của anh ta thay
                        đổi nhanh hơn người yêu cũ của bạn luôn í. Lúc thì rất
                        ngu ngơ khù khờ tốt tính, lúc thì thủ đoạn, lươn lẹo, đê
                        hèn và bạo lực. Vì vậy, cảm giác cái đạo đức của nhân
                        vật này rất mong manh và khó có thể đặt niềm tin ở
                        Ki-hoon được các bạn ạ. Bên cạnh đó, nhân vật chính của
                        chúng ta không có tài năng gì nổi trội ngoài việc hay
                        than vãn, may mắn và được các biên kịch phim ưu ái để
                        giữ anh đến phút cuối cùng của phim.
                    </p>
                    <p>
                        Điểm yếu khiến Trò chơi con mực không để lại nhiều ấn
                        tượng trong lòng khán giả chính là phim thiếu tính cao
                        trào cần thiết. Đối với thể loại phim sinh tồn, thường
                        thì càng về những vòng sau, các trò chơi sẽ càng khó và
                        khốc liệt, do đó độ căng thẳng và hack não sẽ càng cao,
                        mang đến rất nhiều cảm xúc cho khán giả khi cao trào
                        được đẩy lên tột đỉnh. Tuy nhiên ở Squid game (2021), sự
                        hấp dẫn của các màn chơi là một đường thẳng nằm ngang,
                        thậm chí cảm xúc của khán giả đối với trò chơi cuối cùng
                        lại có phần lao dốc xuống luôn í.
                    </p>
                    <img src="images/squid_game_trochoi.jpg" alt="" />
                    <span class="image-info">Các trò chơi dân gian của Hàn Quốc
                        được tái hiện lại trong Squid Game</span>
                    <p>
                        Âm nhạc của phim khá đa dạng và tạo được sự kỳ bí cho
                        cốt truyện, tuy nhiên ở một vài phân cảnh thì cách lựa
                        chọn nhạc nền của Trò chơi con mực chưa thật sự phù hợp
                        lắm. Việc cài cắm các tình tiết của phim quá lộ liệu nên
                        nếu tinh ý thì ngay ở tập 2 và cùng lắm ở tập 4, bạn đã
                        có thể đoán ra được chân tướng của mọi việc. Ngoài ra,
                        Squid game còn để lại rất nhiều dấu hỏi cho khán giả mà
                        có lẽ phải sản xuất thêm 1-2 phần phim nữa thì người xem
                        mới được giải đáp hết nè
                    </p>
                    <span class="evaluate">Đánh giá tổng quan</span>
                    <img src="images/danhgia.png" alt="" />
                    <span class="source">Nguồn: Ghiền Review</span>
                    <div class="review-detail-content-evaluate">
                        <span class="evaluate-question">Bạn có thích bài Review
                            này không?
                        </span>
                        <div class="review-detail-content-rating">
                            <input type="radio" name="star" id="star1" /><label
                                for="star1"
                            ></label>
                            <input type="radio" name="star" id="star2" /><label
                                for="star2"
                            ></label>
                            <input type="radio" name="star" id="star3" /><label
                                for="star3"
                            ></label>
                            <input type="radio" name="star" id="star4" /><label
                                for="star4"
                            ></label>
                            <input type="radio" name="star" id="star5" /><label
                                for="star5"
                            ></label>
                        </div>
                    </div>
                </div>
                <div class="review-detail-comment row">
                    <span class="title">Bình luận</span>
                    <div class="review-detail-comment-user">
                        <div class="review-detail-comment-user-first">
                            <div class="review-detail-comment-user-left">
                                <img src="images/khanhvy_ava.jpg" alt="" />
                            </div>
                            <div class="review-detail-comment-user-right">
                                <p
                                    class="review-detail-comment-user-right-text"
                                >
                                    Review này hay ghê ha, nắm rõ được phim như
                                    thế nào luôn<br />
                                    <span>@khanhvyofficial</span>
                                </p>
                            </div>
                        </div>
                        <div class="review-detail-comment-user-second">
                            <div class="review-detail-comment-user-left">
                                <img src="images/nltt_ava3.jpg" alt="" />
                            </div>
                            <div class="review-detail-comment-user-right">
                                <p
                                    class="review-detail-comment-user-right-text"
                                >
                                    Phim này hay quá, coi xong coi lại Review
                                    cho dễ hiểu<br />
                                    <span>@mia.soya.9</span>
                                </p>
                            </div>
                        </div>
                        <div class="review-detail-comment-user-third">
                            <div class="review-detail-comment-user-left">
                                <img src="images/trucanh_ava.jpg" alt="" />
                            </div>
                            <div class="review-detail-comment-user-right">
                                <p
                                    class="review-detail-comment-user-right-text"
                                >
                                    Review có tâm dữ dằn vậy trời<br />
                                    <span>@trucanhactress</span>
                                </p>
                            </div>
                        </div>
                        <div class="review-detail-comment-user-forth">
                            <div class="review-detail-comment-user-left">
                                <img src="images/ava.png" alt="" />
                            </div>
                            <div class="review-detail-comment-user-right">
                                <p
                                    class="review-detail-comment-user-right-text"
                                >
                                    Bài hay quá, rõ ràng, rành mạch. Gút chóp<br
                                    />
                                    <span>@anthony.haidang</span>
                                </p>
                            </div>
                        </div>
                        <div class="review-detail-comment-user-input">
                            <div class="review-detail-comment-user-left">
                                <img src="images/ava.png" alt="" />
                            </div>
                            <div
                                class="review-detail-comment-user-right-text-input"
                            >
                                <input
                                    type="text"
                                    placeholder="Viết bình luận"
                                />
                            </div>
                        </div>
                        <div class="review-detail-comment-user-button">
                            <button>Đăng bình luận</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}
<section class="review-detail">
    <div class="container">
        <div class="row">
            <div class="review-detail-top">
                <div class="title">
                    {{data.movieName}}
                    <span class="animate-border mt-2 mb-6"></span>
                </div>
                <div class="three-dots">
                    <div class="three-dots-button">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div class="sub-menu-show active-three-dots">
                        <ul class="sub-menu">
                            <li><a href="">Chỉnh sửa bài viết</a></li>
                            <li><a href="">Xóa bài viết</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="review-detail-info">
                <div class="review-detail-author">
                    <div class="review-detail-author-left">
                        <img src="images/ava.png" alt="" />
                    </div>
                    <div class="review-detail-author-right row">
                        <span class="name">anthony.haidang</span>
                        <span class="role">Quản trị viên - Reviewer</span>
                    </div>
                </div>
                <div class="review-detail-audience">
                    Đánh giá từ khán giả: 4.5/5
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="review-detail-content-top row">
                <div class="col-md-6 text-center">
                    <img src={{data.poster}} alt="" />
                </div>
                <div class="col-md-6 text-justify">
                    <div class="review-detail-content-top-info">
                        <span>Thể loại: </span>
                        <p>{{data.stringGenre}}</p>
                        <span>Đạo diễn: </span>
                        <p>Dong-Hyuk Wang</p>
                        <span>Diễn viên: </span>
                        <p>
                            Lee Jung Jae, Park Hae Soo, Wi Ha-Joon,...
                        </p>
                        <span>Quốc Gia: </span>
                        <p>{{data.nation}}</p>
                        <span>Thời lượng: </span>
                        <p>{{data.length}}</p>
                        <span>Khởi chiếu: </span>
                        <p>{{data.releaseYear}}</p>
                    </div>
                </div>

                <div class="review-detail-content row">
                    <p>{{data.content}}</p>
                    <span class="evaluate">Đánh giá tổng quan</span>
                    <img src="images/danhgia.png" alt="" />
                    <span class="source">Nguồn: Ghiền Review</span>
                    <div class="review-detail-content-evaluate">
                        <span class="evaluate-question">Bạn có thích bài Review
                            này không?
                        </span>
                        <div class="review-detail-content-rating">
                            <input type="radio" name="star" id="star1" /><label
                                for="star1"
                            ></label>
                            <input type="radio" name="star" id="star2" /><label
                                for="star2"
                            ></label>
                            <input type="radio" name="star" id="star3" /><label
                                for="star3"
                            ></label>
                            <input type="radio" name="star" id="star4" /><label
                                for="star4"
                            ></label>
                            <input type="radio" name="star" id="star5" /><label
                                for="star5"
                            ></label>
                        </div>
                    </div>
                </div>
                <div class="review-detail-comment row">
                    <span class="title">Bình luận</span>
                    <div class="review-detail-comment-user">
                        <div class="review-detail-comment-user-first">
                            <div class="review-detail-comment-user-left">
                                <img src="images/khanhvy_ava.jpg" alt="" />
                            </div>
                            <div class="review-detail-comment-user-right">
                                <p
                                    class="review-detail-comment-user-right-text"
                                >
                                    Review này hay ghê ha, nắm rõ được phim như
                                    thế nào luôn<br />
                                    <span>@khanhvyofficial</span>
                                </p>
                            </div>
                        </div>
                        <div class="review-detail-comment-user-second">
                            <div class="review-detail-comment-user-left">
                                <img src="images/nltt_ava3.jpg" alt="" />
                            </div>
                            <div class="review-detail-comment-user-right">
                                <p
                                    class="review-detail-comment-user-right-text"
                                >
                                    Phim này hay quá, coi xong coi lại Review
                                    cho dễ hiểu<br />
                                    <span>@mia.soya.9</span>
                                </p>
                            </div>
                        </div>
                        <div class="review-detail-comment-user-third">
                            <div class="review-detail-comment-user-left">
                                <img src="images/trucanh_ava.jpg" alt="" />
                            </div>
                            <div class="review-detail-comment-user-right">
                                <p
                                    class="review-detail-comment-user-right-text"
                                >
                                    Review có tâm dữ dằn vậy trời<br />
                                    <span>@trucanhactress</span>
                                </p>
                            </div>
                        </div>
                        <div class="review-detail-comment-user-forth">
                            <div class="review-detail-comment-user-left">
                                <img src="images/ava.png" alt="" />
                            </div>
                            <div class="review-detail-comment-user-right">
                                <p
                                    class="review-detail-comment-user-right-text"
                                >
                                    Bài hay quá, rõ ràng, rành mạch. Gút chóp<br
                                    />
                                    <span>@anthony.haidang</span>
                                </p>
                            </div>
                        </div>
                        <div class="review-detail-comment-user-input">
                            <div class="review-detail-comment-user-left">
                                <img src="images/ava.png" alt="" />
                            </div>
                            <div
                                class="review-detail-comment-user-right-text-input"
                            >
                                <input
                                    type="text"
                                    placeholder="Viết bình luận"
                                />
                            </div>
                        </div>
                        <div class="review-detail-comment-user-button">
                            <button>Đăng bình luận</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>