<section class="user_mannagement_admin">
    <div class="user_mannagement_admin_container">
        <div class="user_mannagement_container">
            <div class="user_mannagement_admin_top">
                <div class="user_management_admin_top_decription">
                    <span>Danh sách các user</span>
                </div>

            </div>
            <div class="user_mannagement_admin_center">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                    </tr>
                    {{#each data}}
                    <tr id={{this.id}}>
                        <td>{{this.id}}</td>
                        <td>{{this.username}}</td>
                        <td>{{this.email}}</td>
                        <td>
                            <button type="button" class="Edit">Sửa</button>
                        </td>
                        <td>
                            <button
                                type="button"
                                class="Delete"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal"
                                value={{this.id}}
                                onclick="setId(this)"
                            >Xóa</button>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xác
                                nhận xóa</h5>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            Bạn có chắc chắn xóa người dùng này?
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >Hủy bỏ</button>
                            <button
                                type="submit"
                                class="btn btn-danger"
                                data-bs-dismiss="modal"
                                id="delete-post"
                            >Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<script>
    function setId (btn) {
        let deletepost = document.getElementById("delete-post");
        
        deletepost.onclick = () => {
            let url = "/admin/user-management/" + btn.value
            $.post(url, function(data) {
                alert(data);
                document.getElementById(btn.value).remove();
            });
        }

    }
</script>